.content{
    display:flex;
    justify-content:center;
    align-items:center;
    height:80vh;
}

.login-box{
    background:#d9d9d9;
    padding:30px;
    border-radius:10px;
    text-align:center;
    width:260px;
}

.login-box h2{
    margin-bottom:20px;
}

.login-box input{
    width:100%;
    padding:8px;
    margin:8px 0;
    border:1px solid #ccc;
    border-radius:4px;
}

.login-box button{
    width:100%;
    padding:8px;
    background:#3b82f6;
    border:none;
    color:white;
    border-radius:4px;
    cursor:pointer;
}